.home{
    background: #000;
    color: #fff;
}
.header{
    background-color: blue;
    height: 100px;
}
.sidebar{
    background-color: green;
    height: 500px;
}
.content{
    background-color: yellow;
    height: 500px;
}

.footer{
    background-color: pink;
    height: 100px;
}